*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.search input{
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 15px;
}
.search{
	background-color: rgb(226, 226, 226);
	display: flex;
	border-radius: 30px;
	text-align: center;
	width: 13%;
	padding: 10px;
	
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	box-shadow: inset  lightgray 0px 0px 5px 0px;
	z-index: 9;
}